.tags {
    display: flex;
    > * {
        margin-right: 7px;
    }
}
.tag {
    display: inline-block;
    height: 28px;
    border-radius: 90px;
    padding: 0px 14px;
    font-weight: 400;
    font-size: 13px;
    line-height: 28px;

    &_selected {
        background-color: $color-primary;
        color: $color-light;
    }
    &_bordered {
        border: 1px solid $color-border;
    }
    &_colored {
        background-color: $color-tag;
    }
}
